#!/usr/bin/env bash

#cp -iv post-checkout .git/hooks/post-switch
#cp -iv post-checkout .git/hooks/post-checkout

# Check chezmoi_git_private

# Check if private is origin/private
# Remove origin/private
#git branch -d --remote origin/private

# git branch --delete --remotes origin/private


# Add private remote
#git add dotfiles-private git@github.com:johnr14/dotfiles-private.git

# git switch -c private dotfiles-private/private
# git merge main


