

# Check chezmoi_git_private

# Check if private is origin/private
# Remove origin/private
#

# git branch --delete --remotes origin/private
# Add private remote
#
# git add dotfiles-private git@github.com:$GIT_USER/dotfiles-private.git

# git merge private


