# -*-mode:conf-toml-*- vim:ft=toml

{{/* boolean feature tags */}}
{{- $personal_device := false -}}{{/* TODO: true if this machine should have personal setup */}}
{{- $distrobox_device := false -}}{{/* TODO: true if this machine should have distrobox setup */}}
{{- $container_device := false -}}{{/* TODO: true if this machine should have minimal container setup */}}
{{- $qube_device := false -}}{{/* TODO: true if this machine should have QubeOS setup */}}
{{- $qubedom0_device := false -}}{{/* TODO: true if this machine should have QubeOS dom0 setup */}}
{{- $shell_device := false -}}{{/* TODO: true if this machine should have minimal shell setup */}}
{{- $hyprland := false -}}{{/* TODO: true if this machine should have arch hyprland setup */}}
{{- $headless := false -}}{{/* TODO: true if this machine should have arch hyprland setup */}}
{{- "" -}}



{{- $name := .chezmoi.username -}}
{{- $email := "fixme" -}}
{{- $github_user := "johnr14" -}}
{{- $github_email := "@github.com" -}}
{{- $computer_name := default "Thrd" (env "CM_computer_name") -}}
{{- $hostname := default "Fedora" (env "CM_hostname") -}}
{{- $flavor := default "Any from : KDE,hyprland,QUBE,term" (env "CM_hostname") -}}
{{- $passphrase := default "change me with 'SETPASS=1 chezmoi init'" (index . "passphrase") -}}
{{- $use_ansible := default "false"}}
{{- $hyprland := default "false"}}
{{- $headless := default "false"}}


{{- if (env "SETPASS") }}
{{    $passphrase = promptString "Encryption Passphrase" $passphrase -}}
{{- end }}

{{- if (env "ASK") }}
{{-   $personal_device = promptBool "personal_device" -}}
{{-   $computer_name = promptString "Computer Name" $computer_name -}}
{{-   $hostname = promptString "Hostname" $hostname -}}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $flavor = promptString "Flavor" $flavor -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{-   $github_email = promptString "GitHub Email" $github_email -}}
{{-   $use_ansible := promptBool "Use ansible ? (y/n)" -}}
{{-   $hyprland := promptBool "Install and configure hyprland for arch ? (y/n)" -}}
{{-   $headless := promptBool "Install headless ? (y/n)" -}}
{{- end }}

{{- $delta_is_not_installed := true }}
{{- if (contains "delta" (output "bash" "-c" "command -v delta || true")) }}
{{-   $delta_is_not_installed = false }}
{{- end }}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  github_user = {{ $github_user | quote }}
  github_email = {{ $github_email | quote }}
  computer_name = {{ $computer_name | quote }}
  hostname = {{ $hostname | quote }}
  nas_mount_path = {{ $nas_mount_path | quote }}
  passphrase = {{ $passphrase | quote }}
  personal_device = {{ $personal_device | quote }}
  use_ansible = {{ $use_ansible | quote }}
  hyprland = {{ $hyprland | quote }}
  headless = {{ $headless | quote }}

  [flags]
    delta_is_not_installed = {{ $delta_is_not_installed }}

encryption = "gpg"

[diff]
  exclude = ["scripts"]

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}" ]


