# -*-mode:conf-toml-*- vim:ft=toml

{{/* boolean feature tags */}}

{{- $dotfiles_private := false -}}{{/* TODO: true if this machine should have distrobox setup */}}

{{- $distrobox_device := false -}}{{/* TODO: true if this machine should have distrobox setup */}}
{{- $container_device := false -}}{{/* TODO: true if this machine should have minimal container setup */}}

{{- $qube_device := false -}}{{/* TODO: true if this machine should have QubeOS setup */}}
{{- $qubedom0_device := false -}}{{/* TODO: true if this machine should have QubeOS dom0 setup */}}

{{- $headless := false -}}{{/* TODO: true if this machine should have arch hyprland setup */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $name := .chezmoi.username -}}
{{- $email := "fixme" -}}

{{- $passphrase := default "change me with 'SETPASS=1 chezmoi init'" (index . "passphrase") -}}
{{- $use_ansible := default "false"}}


{{- $headless := default "false"}}



{{- if (env "SETPASS") }}
{{    $passphrase = promptString "Encryption Passphrase" $passphrase -}}
{{- end }}



{{- if (env "ASK") }}
{{-   $dotfiles_private = promptBool "$dotfiles_private" -}}

{{-   $name      := promptStringOnce . "user.git.name" "Name used in GitHub" -}}
{{-   $email     := promptStringOnce . "user.git.email" "Email used in GitHub" -}}

{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{-   $github_email = promptString "GitHub Email" $github_email -}}

{{- else }}

{{-   $dotfiles_private = promptBool "$dotfiles_private" -}}

{{-   $name      = "johnr14" -}}
{{-   $email     =  "5272079+johnr14@users.noreply.github.com" -}}

{{- end }}


umask = 0o022

encryption = "age"
[age]
    identity = "~/.age/chezmoi_age.key.age"
    recipient = "age1fmur258g3ryqjey6dem6nv9zpqhguexga6lmkvgd4ekzw2q64spq408zre"

[data]
    github_user = {{ $name | quote }}
    github_email = {{ $email | quote }}
    dotfiles_private = {{ $dotfiles_private | quote }}
    use_ansible = {{ $use_ansible | quote }}
    headless = {{ $headless | quote }}



{{- if lookPath "delta" }}
[diff]
    command = "delta"
    pager = "delta"
{{- else if lookPath "nvim" }}
[diff]
    command = "nvim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Target }}`}}"]
{{- end }}


[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}" ]


