[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[submodule]
	active = .
[remote "origin"]
	url = git@github.com:johnr14/dotfiles.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "main"]
	remote = origin
	merge = refs/heads/main
[remote "dotfiles-private"]
	url = git@github.com:johnr14/dotfiles-private.git
	fetch = +refs/heads/*:refs/remotes/dotfiles-private/*
[branch "private"]
	remote = dotfiles-private
	merge = refs/heads/private
